body{
    scroll-behavior: smooth;
    background-color: #585858;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header{
    background-color: #282828;
    text-decoration-color: #fffafa;
    color: #fffafa;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Comic-Sans';
}

.content{
    background-color: #282828;
    color: #fffafa;
    text-align: center;
    line-height: 70px;
}
.content h1{
    margin-top: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.passInput{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #282828;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;

}

.result{
    color: #fffafa;
    font-size: 20px;
    margin: 0px;
    background-color: #282828;
    text-align: center;
}

.check-btn{
    font-size: 15px;
    background-color: black;
    color: #fffafa;
    line-height: 40px;
    cursor: pointer;
    
}

#container {
max-width: 600px;
margin: auto;
}
#first_estimate {
bottom: 5px;
position: relative;
display: none;
}
.breaker {
clear: both;
overflow: hidden;
height: 0;
}
#lgd_out_pg_pass,
#lgd_out_str_m,
#lgd_out_pg_opt {
width: 100%;
}
#logged_out_generator {
width: 600px;
}
#lgd_out_pg_pass,
#lgd_out_str_m {
text-align: center;
}
#lgd_out_pg_pass {
height: 40px;
font-size: x-large;
font-weight: bold;
background: none;
border: none;
}
#logged_out_generator {
margin-bottom: 20px;
}
.hidden {
display: none;
}
.error {
color: red;
}
div.generate_button {
width: 100%;
text-align: center;
}
div.generate_button input {
padding: 6px;
clear: both;
}
#lgd_out_pg_pass {
margin-bottom: 10px;
background-color: #ffffff;
}
#complexity {
position: relative;
left: 0px;
font-weight: bold;
padding: 5px;
padding-bottom: 10px;
margin-top: 10px;
cursor: default;
color: white;
background-color: #d0d0d0;
text-align: center;
}
div.char_type {
float: right;
margin-right: 10px;
width: 90px;
font-size: 12px;
color: #c2c2c2;
}
.char_type_text {
float: right;
}
.char_type_valid {
color: #2cb117 !important;
}
#char_count {
width: 200px;
font-weight: bold;
bottom: 2px;
position: relative;
font-size: 14px;
}
div.chars_holder {
position: relative;
padding-top: 13px;
clear: both;
}
div.estimate {
width: 49%;
float: left;
border: solid 1px;
height: 50px;
margin-bottom: 20px;
}
div.result {
margin-top: 10px;
font-size: 13px;
height: 100px;
border-color: #d0d0d0;
padding-top: 15px;
}
.col_left {
text-align: center;
}
.col_right {
padding-left: 10px;
padding-right: 10px;
text-align: center;
}
.small_text {
clear: both;
border-top: none;
text-align: center;
width: 600px;
font-size: 11px;
}
.Input{
    color: #fffafa;
    background-color: #282828;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 5px 50px;
}

.check-div{
    display: flex;
    align-items: center;
    justify-content: center;
}